<nav class="nav navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="/posts">Posts</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="/posts/new">Créer un Post</a></li>
    </ul>
  </div>
</nav>
