<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>Publier un nouveau post</h1>
    <form [formGroup]="postForm" (ngSubmit)="onSavePost()">
      <div class="form-group">
        <label for="title">Titre</label>
        <input class="form-control" formControlName="title" id="title" type="text">
      </div>
      <div class="form-group">
        <label for="content">Contenu</label>
        <textarea class="form-control" formControlName="content" id="content" type="text"></textarea>
      </div>
      <button class="btn btn-success" [disabled]="postForm.invalid "> Enregistrer </button>
    </form>
  </div>
</div>
