<div class="row">
    <div class="col-xs-12">
        <h2> Vos Posts </h2>
        <div class="list-group">
            <ul *ngFor="let post of posts; let i = index">
                <li [ngClass]="{'list-group-item': true,
                    'list-group-item-success': post.loveIts > 0,
                    'list-group-item-danger': post.loveIts < 0}">
                    <div class="pull-right"> {{ post.created_at  }}</div>
                    <h4 [ngStyle]="{color: getColor(i)}"> {{ post.title }}
                        <button class="btn btn-danger pull-right" (click)="deletePost(post)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button></h4>
                    <h5>{{post.content}}</h5>
                    <button class="btn btn-success" (click)="likeIt(i)">Like it</button>
                    <button class="btn btn-danger" (click)="dontLikeIt(i)">Don't Like it</button>
                </li>
            </ul>
        </div>
        <button class="btn btn-primary" (click)="newPost()"> Nouveau Post </button>
    </div>
</div>




